{%extends  'main/base.html'%}
{%load static%}

{% block title %}Случайный билет{% endblock %}


{%block content%}

<div>
    {% if score %}
       <div class="shadow p-3 mb-5 bg-body rounded">
           <p>Верных ответов: {{score}} из 20</p>
       </div>
    {% endif %}
    {%for q in page_obj%}
    <h3>{{ q.question }}</h3>
        <div>
            {% if 'no_image' not in q.image.url  %}
            <p><img src="{{ q.image.url }}"></p>
            {% endif %}
    {%if give_answer %}
            <p {% if give_answer == '1'%} {% if correct == 'True'%} class="text-success" {%else%} class="text-danger" {%endif%}{%endif%}>1. {{ q.answer_text1 }}. </p>
				<p {% if give_answer == '2'%} {% if correct == 'True'%} class="text-success" {%else%} class="text-danger" {%endif%}{%endif%}>2. {{ q.answer_text2 }}.  </p>
				{% if q.answer_text3  %}
				<p {% if give_answer == '3'%} {% if correct == 'True'%} class="text-success" {%else%} class="text-danger" {%endif%}{%endif%}>3. {{ q.answer_text3 }} </p>
				{% endif %}
				{% if q.answer_text4  %}
				<p {% if give_answer == '4'%} {% if correct == 'True'%} class="text-success" {%else%} class="text-danger" {%endif%}{%endif%}>4. {{ q.answer_text4 }}</p>
				{% endif %}

            <div class="alert alert-success">
                <p>
                    {{q.correct_answer}}
                </p>
                <p>
                   {{q.answer_tip}}
                </p>
            </div>

    {% else %}
    <form method="POST">
        {%csrf_token%}
            	<p><button class="btn btn-info" type="submit" name="answer" id="choice1" value='1,{{q.is_correct1}}'>1. {{ q.answer_text1 }}.</button> </p>
				<p><button class="btn btn-info" type="submit" name="answer" id="choice2" value="2,{{q.is_correct2}}">2. {{ q.answer_text2 }}</button> </p>
				{% if q.answer_text3  %}
				<p><button class="btn btn-info" type="submit" name="answer" id="choice3" value="3,{{q.is_correct3}}">3. {{ q.answer_text3 }}</button> </p>
				{% endif %}
				{% if q.answer_text4  %}
				<p><button class="btn btn-info" type="submit" name="answer" id="choice4" value="4,{{q.is_correct4}}">4. {{ q.answer_text4 }}</button> </p>
				{% endif %}
            <input type="hidden" name="score" value="{{score}}"/>
			</div>

    </form>
    {% endif %}
    {%endfor%}
</div>

<div class="pagination">
    <span class="step-links">
        <span class="current">
            Вопрос {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">след</a>
        {% endif %}
    </span>
</div>
{% if finish %}
<a href="?finish=true"><button class="btn btn-danger" >Завершить экзамен</button></a>
{% endif %}

{%endblock%}